{% extends 'server/base.html' %}
{% block content %}
  <div class="jumbotron">
      <table class="table table-striped">
         <thead class="thead-inverse">
           <tr>
             <th>#</th>
             <th>Instance</th>
             <th>Provider</th>
             <th>System</th>
             <th>CPU</th>
             <th>Memory</th>
             <th>HD</th>
             <th>Price</th>
           </tr>
         </thead>
         <tbody>
           <tr>
        
           </tr>
         </tbody>
    </table>
</div>
{% endblock %}
